.header {
  padding: 10px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
  gap: 1em;

  .header-first-row {
    display: grid;
    grid-template-areas:
      'h1 h1 h1'
      'menu search cart';
    grid-template-columns: 1fr 15fr 1fr;
    /* Встановлює три колонки однакової ширини */
    grid-template-rows: auto auto;
    /* Дві рядки з автоматичною висотою */
  }

  .cart {
    grid-area: cart;
    margin-left: 2em;
  }

  .menu {
    grid-area: menu;
    margin-right: 2em;
  }

  .header-label {
    grid-area: h1;
    font-family: monospace;
    letter-spacing: 17px;
    font-size: large;
    margin-bottom: 0.5em;
    margin-top: 0px;
    text-align: center;
  }

  form {
    grid-area: search;
    display: flex;
    align-items: center;
    width: 100%;

    input[type="search"] {
      padding: 10px;
      border: 1px solid #ced4da;
      border-radius: 4px;
      width: 100%;
      font-size: 16px;
    }
  }

  /* Інші стилі залишаються без змін */
}