<div class="header">
  <div class="header-first-row">
    <div>
      <p-sidebar [(visible)]="sidebarVisible">
        <ng-template pTemplate="header">
          <div class="avatar">
            <p-avatar
              image="../../../assets/android-chrome-512x512.png"
              shape="circle"
            />
            <span class="font-bold">Holfyk in UA</span>
          </div>
        </ng-template>
        @if(allCategory){
        <ul class="menu-link">
          @for (category of allCategory; track $index) {
          <li>
            <a (click)="openCategory(category); sidebarVisible = false">{{
              category
            }}</a>
          </li>
          }
        </ul>
        }
      </p-sidebar>
      <p-button (onClick)="sidebarVisible = true" icon="pi pi-arrow-right" />
    </div>
    <h1>
      <a
        style="text-decoration: none"
        [routerLink]="['/']"
        routerLinkActive="router-link-active"
        >Holfyk in UA</a
      >
    </h1>

    @if(productsInCart){
    <div>
      <p-button
        [style]="{ width: '5rem' }"
        [badge]="productsInCart"
        icon="pi
      pi-shopping-cart"
        (onClick)="showDialog()"
      />
    </div>
    } @else {
    <div>
      <p-button icon="pi pi-shopping-cart" (onClick)="showDialog()" />
    </div>
    }
  </div>

  <p-dialog
    header="Edit Profile"
    [modal]="true"
    [(visible)]="visible"
    [style]="{ width: '25rem' }"
  >
    <span class="p-text-secondary block mb-5">Update your information.</span>
    <div class="flex align-items-center gap-3 mb-3">
      <label for="username" class="font-semibold w-6rem">Username</label>
      <input pInputText id="username" class="flex-auto" autocomplete="off" />
    </div>
    <div class="flex align-items-center gap-3 mb-5">
      <label for="email" class="font-semibold w-6rem">Email</label>
      <input pInputText id="email" class="flex-auto" autocomplete="off" />
    </div>
    <div class="flex justify-content-end gap-2">
      <p-button
        label="Cancel"
        severity="secondary"
        (onClick)="visible = false"
      />
      <p-button label="Save" (onClick)="visible = false" />
    </div>
  </p-dialog>

  @if(searchForm){
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <input
      id="searchInput"
      placeholder="find your favorite holfyk..."
      formControlName="query"
      type="search"
    />
  </form>
  }
</div>
