<div class="header">
  <div class="header-first-row">
    <div>
      <p-sidebar [(visible)]="sidebarVisible">
        <ng-template pTemplate="header">
          <div class="avatar">
            <p-avatar
              image="../../../assets/android-chrome-512x512.png"
              shape="circle"
            />
            <span class="font-bold">Holfyk in UA</span>
          </div>
        </ng-template>
        @if(allCategory){
        <ul class="menu-link">
          @for (category of allCategory; track $index) {
          <li>
            <a (click)="openCategory(category); sidebarVisible = false">{{
              category
            }}</a>
          </li>
          }
        </ul>
        }
      </p-sidebar>
      <p-button (onClick)="sidebarVisible = true" icon="pi pi-arrow-right" />
    </div>
    <h1>
      <a
        style="text-decoration: none"
        [routerLink]="['/']"
        routerLinkActive="router-link-active"
        >Holfyk in UA</a
      >
    </h1>

    <app-cart></app-cart>
  </div>

  @if(searchForm){
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <input
      id="searchInput"
      placeholder="find your favorite holfyk..."
      formControlName="query"
      type="search"
    />
  </form>
  }
</div>
