.header {
  padding: 10px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
  gap: 1em;

  .header-first-row {
    display: grid;
    grid-template-areas:
      'h1 h1 h1'
      'menu search cart';
    grid-template-columns: 1fr 15fr 1fr;
    grid-template-rows: auto auto;
  }

  .cart {
    grid-area: cart;
    margin-left: 2em;
  }

  .menu {
    grid-area: menu;
    margin-right: 2em;
  }

  .header-label {
    grid-area: h1;
    font-family: monospace;
    letter-spacing: 17px;
    font-size: 15px;
    margin-bottom: 0.5em;
    margin-top: 0px;
    text-align: center;
  }

  form {
    grid-area: search;
    display: flex;
    align-items: center;
    width: 100%;

    input[type="search"] {
      padding: 10px;
      border: 1px solid #ced4da;
      border-radius: 4px;
      width: 100%;
      font-size: 16px;
    }
  }

  .menu-link {
    display: flex;
    flex-direction: column;
  }

  .menu-link>li>a {
    display: block;
    padding: 20px;
  }

  .menu-link>li:hover {
    cursor: pointer;
    background-color: #ced4da;
  }

  @media (max-width: 480px) {
    .header-label {
      font-size: 12px;
      letter-spacing: 12px
    }
  }

  /* Інші стилі залишаються без змін */
}