@if(viewState[0].isCategory || viewState[1].isProduct ||
viewState[2].isSearchProducts){ @if(viewState[1].isProduct){

<nav class="breadcrumbs">
  <ol>
    <li>
      <a (click)="openHomePage()"><span class="pi pi-home"></span></a>
    </li>

    @if(viewState[1].product.category){
    <li>
      <a (click)="openCategory(viewState[1].product.category)">{{
        viewState[1].product.category
      }}</a>
    </li>
    }

    <li>{{ viewState[1].product.title }}</li>
  </ol>
</nav>

} @if(viewState[0].isCategory){

<nav class="breadcrumbs">
  <ol>
    <li>
      <a (click)="openHomePage()"><span class="pi pi-home"></span></a>
    </li>
    <li>{{ viewState[0].category }}</li>
  </ol>
</nav>

} @if(viewState[2].isSearchProducts){
<div>
  <nav>
    <ol>
      <li>
        <a (click)="openHomePage()"><span class="pi pi-home"></span></a>
      </li>
    </ol>
  </nav>
</div>
} } @else{
<div>
  <nav>
    <ol>
      <li>
        <a (click)="openHomePage()"><span class="pi pi-home"></span></a>
      </li>
    </ol>
  </nav>
</div>
}
