@if(viewState[0].isCategory || viewState[1].isProduct ||
viewState[2].isSearchProducts){ @if(viewState[1].isProduct){
<div>
  <nav>
    <ol>
      <li>
        <a href="/"><span class="pi pi-home"></span></a>
      </li>
      <li>
        <a href="/">{{ viewState[1].product.category }}</a>
      </li>
      <li>{{ viewState[1].product.title }}</li>
    </ol>
  </nav>
</div>
} @if(viewState[0].isCategory){
<div>
  <nav>
    <ol>
      <li>
        <a href="/"><span class="pi pi-home"></span></a>
      </li>
      <li>{{ viewState[0].category }}</li>
    </ol>
  </nav>
</div>
} @if(viewState[2].isSearchProducts){
<div>
  <nav>
    <ol>
      <li>
        <a href="/"><span class="pi pi-home"></span></a>
      </li>
    </ol>
  </nav>
</div>
} } @else{
<div>
  <nav>
    <ol>
      <li>
        <a href="/"><span class="pi pi-home"></span></a>
      </li>
    </ol>
  </nav>
</div>
}
