<!-- Якщо це Home сторінка -->
@if (
  viewState.isHome &&
  !viewState.isCategory &&
  !viewState.isSearchProducts &&
  !viewState.isProduct
) {
  <nav class="breadcrumbs">
    <ol>
      <li>
        <a [routerLink]="['/']" routerLinkActive="router-link-active">
          <span class="pi pi-home"> Гольфи жіночі </span>
        </a>
      </li>
    </ol>
  </nav>
}

<!-- Якщо це Category сторінка -->
@if (
  viewState.isCategory &&
  !viewState.isHome &&
  !viewState.isSearchProducts &&
  !viewState.isProduct
) {
  <nav class="breadcrumbs">
    <ol>
      <li>
        <a [routerLink]="['/']" routerLinkActive="router-link-active">
          <span class="pi pi-home"></span>
        </a>
      </li>
      <li>{{ viewState.category }}</li>
    </ol>
  </nav>
}

<!-- Якщо це Search сторінка -->
@if (
  viewState.isSearchProducts &&
  !viewState.isCategory &&
  !viewState.isHome &&
  !viewState.isProduct
) {
  <nav class="breadcrumbs">
    <ol>
      <li>
        <a [routerLink]="['/']" routerLinkActive="router-link-active">
          <span class="pi pi-home"></span>
        </a>
      </li>
      <li>Пошук</li>
    </ol>
  </nav>
}

<!-- Якщо це Product сторінка -->
@if (
  viewState.isProduct &&
  !viewState.isSearchProducts &&
  !viewState.isCategory &&
  !viewState.isHome
) {
  <nav class="breadcrumbs">
    <ol>
      <li>
        <a [routerLink]="['/']" routerLinkActive="router-link-active">
          <span class="pi pi-home"></span>
        </a>
      </li>
      <li *ngIf="viewState.product.category">
        <a
          (click)="openCategory(viewState.product.category)"
          routerLinkActive="router-link-active"
        >
          {{ viewState.product.category }}
        </a>
      </li>
      <li>{{ viewState.product.title }}</li>
    </ol>
  </nav>
}
