<!-- shopping-cart.component.html -->

<div>
  @if(shoppingCartQuantity === '0') {
  <div class="cart-button">
    <p-button
      icon="pi pi-shopping-cart"
      (onClick)="showDialog()"
      aria-label="Відкрити корзину"
    ></p-button>
  </div>
  } @else {
  <div class="cart-button">
    <p-button
      [badge]="shoppingCartQuantity"
      icon="pi pi-shopping-cart"
      (onClick)="showDialog()"
      aria-label="Відкрити корзину з кількістю товарів"
    ></p-button>
  </div>
  }
</div>

<p-dialog
  header="Shopping Cart"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '90vw', maxWidth: '75em' }"
  [breakpoints]="{ '960px': '95vw' }"
  class="shopping-cart-dialog"
>
  <div class="products-container">
    @for(product of productsInCart; track product.id) {
    <div class="wrap-popup-product">
      <img class="product-image" [src]="product.image" [alt]="product.title" />

      <div class="product-details">
        <h2 class="product-title">{{ product.title }}</h2>
        <span class="product-sku">SKU: {{ product.id }}</span>
        <span class="product-price">${{ product.price }}</span>
        @if(product.price){
        <form [formGroup]="totalPriceInCart">
          <input
            min="1"
            (input)="onChange(product.price)"
            formControlName="quantity"
            type="number"
            name="quantity"
            id="quantity"
          />
        </form>
        }

        <p-button
          label="Clear"
          (onClick)="clearProductInCart(product.id!)"
          class="clear-button"
          aria-label="Видалити товар з корзини"
        ></p-button>
      </div>
    </div>
    }
  </div>

  <div class="btn-popup-cart">
    <p-button
      label="Cancel"
      severity="secondary"
      (onClick)="visible = false"
      class="cancel-button"
      aria-label="Скасувати"
    ></p-button>
    <p-button
      label="Save"
      (onClick)="visible = false"
      class="save-button"
      aria-label="Зберегти корзину"
    ></p-button>
    <p-button
      label="Clear"
      (onClick)="clearCart()"
      class="clear-cart-button"
      aria-label="Очистити всю корзину"
    ></p-button>
    <p>
      Total price: <span>{{ totalPrice | currency : "USD" }}</span>
    </p>
  </div>
</p-dialog>
