<!-- shopping-cart.component.html -->

<div>
  @if (shoppingCartQuantity === "0") {
    <div class="cart-button">
      <p-button
        icon="pi pi-shopping-cart"
        (onClick)="showDialog()"
        aria-label="Відкрити корзину"
      ></p-button>
    </div>
  } @else {
    <div class="cart-button">
      <p-button
        [badge]="shoppingCartQuantity"
        icon="pi pi-shopping-cart"
        (onClick)="showDialog()"
        aria-label="Відкрити корзину з кількістю товарів"
      ></p-button>
    </div>
  }
</div>

<p-dialog
  header="Shopping Cart"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '90vw', maxWidth: '75em' }"
  [breakpoints]="{ '960px': '95vw' }"
  class="shopping-cart-dialog"
>
  <div class="products-container">
    @for (product of productsInCart; track product.id) {
      <app-product-prev-cart [productData]="product"></app-product-prev-cart>
    }
  </div>

  <div class="btn-popup-cart">
    <p-button
      label="Cancel"
      severity="secondary"
      (onClick)="visible = false"
      class="cancel-button"
      aria-label="Скасувати"
    ></p-button>
    <p-button
      label="Save"
      (onClick)="visible = false"
      class="save-button"
      aria-label="Зберегти корзину"
    ></p-button>
    <p-button
      label="Clear"
      (onClick)="clearCart()"
      class="clear-cart-button"
      aria-label="Очистити всю корзину"
    ></p-button>
    <p>
      Total price: <span>{{ totalPrice | currency: "USD" }}</span>
    </p>
  </div>
</p-dialog>
