@if(product){
<p-breadcrumb class="max-w-full" [model]="items">
  <ng-template pTemplate="item" let-item>
    <ng-container *ngIf="item.route; else elseBlock">
      <a [routerLink]="item.route" class="p-menuitem-link">
        <span [ngClass]="[item.icon ? item.icon : '', 'text-color']"></span>
        <span class="text-primary font-semibold">{{ item.label }}</span>
      </a>
    </ng-container>
    <ng-template #elseBlock>
      <span class="text-color">{{ item.label }}</span>
    </ng-template>
  </ng-template>
</p-breadcrumb>
<p-tabView>
  <p-tabPanel header="Main">
    <h1>{{ product.title }}</h1>
    <div class="product-main-tab">
      <div style="width: 20%">
        <p-image
          width="300"
          class="product-main-tab__image"
          src="{{ product.image }}"
          alt="Image"
          [preview]="true"
        />
      </div>

      <div>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum eius
          optio quo id impedit sequi sint esse cumque, saepe aliquid incidunt,
          nihil amet iusto non repudiandae excepturi distinctio similique hic.
        </p>
      </div>
    </div>
  </p-tabPanel>
  <p-tabPanel header="Header II">
    <p>
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem
      accusantium...
    </p>
  </p-tabPanel>
  <p-tabPanel header="Header III">
    <p>At vero eos et accusamus et iusto odio dignissimos...</p>
  </p-tabPanel>
</p-tabView>

}
