::ng-deep nav {
  border: none;
}

h1 {
  text-align: end;
}

.product-main-tab {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

::ng-deep .product-main-tab__image {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
  aspect-ratio: 3 / 4;
}